.container-fluid {
  height: 768px;
  width: 100%;
}

h1 {
  color: #FFFFFF;
  display: inline-block;
}

img {
  border-radius: 50%;
  background-color: #FFFFFF;
  width: 200px;
  height: 200px;
}

.coluna-13, .coluna-14, .coluna-23, .coluna-24, .coluna-33, .coluna-34 {
  margin-left: 350px;
}

.p .coluna-13, .p .coluna-14, .p .coluna-23, .p .coluna-24, .p .coluna-33, .p .coluna-34 {
  margin-left: 430px;
}