.btn-hint
{
  background-color: #ffffff;
  color: #7237C5;
  border: none;
  position: absolute;
  right: 13em;
  border-radius: 100%;
  width: 70px;
  height: 70px;
}

.fa-thumbs-up, .fa-thumbs-down {
  color: #7237C5;
}