<div class="container-fluid">
  <app-perfil-jogador></app-perfil-jogador>
  <div class="text-center mt-3" style="color: #FFFFFF;">
    <app-botao-dica></app-botao-dica>
    <app-botao-home></app-botao-home>
    <app-botao-tema></app-botao-tema>
    <h2>Vamos montar outro quebra-cabeças</h2>
    <p>Arrastar as peças na ordem correta</p>
    <div cdkDropListGroup class="text-center mt-3">
      <div class="container">
        <div cdkDropList [cdkDropListData]="puzzles" class="puzzle-list" (cdkDropListDropped)="drop($event)">
          <img *ngFor="let puzzle of puzzles" cdkDrag [src]="puzzle.imagem" [cdkDragDisabled]="todosCorretos">
        </div>
      </div>
    </div>
    <app-botao-voltar></app-botao-voltar>
    <app-botao-proximo [isDesativado]="proximoDesativado" (click)="proximaFase()" [routerLink]="['/escolherFase/1/bio-fase-3']"></app-botao-proximo>
    <app-dialog-congrats [ativarDialog]="ativarDialog"></app-dialog-congrats>
  </div>
</div>